ul {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  box-shadow: 0px 5px 0px;
  list-style: none;
  text-align: center;
  font-size: 18px;
}

ul li {
  display: inline-block;
}

ul li a,
ul li a:after,
ul li a:before {
  transition: all 0.5s;
}

ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000b49;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

ul li a:hover {
  color: #ffc796;
}

ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background: #00008b;
}

h1 {
  font-size: 15px;
  margin-top: 100px;
}

h2 {
  font-size: 64px;
  margin: 0px;
}

p {
  font-size: 20px;
}

.button {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 250px;
  background-color: #000b49;
  color: #ffb5b5;
  font-size: 18px;
  font-weight: bolder;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.button:hover {
  color: #ff6f95;
  background-color: #000b49;
  cursor: pointer;
}
footer {
  margin-left: 45%;
  margin-bottom: 40px;
}
.aboutbox {
  background: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #00008b;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
.box {
  background: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #00008b;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 100px 400px 100px/ 400px 400px 400px;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
}

.container {
  background: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #00008b;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.first,
.second,
.third {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin: 40px 100px;
}

.footer {
  grid-column: span 4;
  text-align: center;
}

.github {
  text-decoration: none;
  color: #00008b;
}
.github:hover {
  color: #ff6f95;
  cursor: pointer;
}

.header {
  grid-column: span 4;
}

hr {
  margin-top: 1px;
}

.name {
  color: #e8e9eb;
}
.pic {
  margin-left: 38%;
}
.projects {
  background: #f9f9f1;
  border: 1px solid #f9f9f1;
  border-radius: 10px;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

.text {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 30px;
}

.title {
  margin: 20px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
}
